body{
    margin: 0px;
}

img{
    margin: auto;
    max-width: 100%;
    height: auto;
    
}

p{
    margin-left: 10px;
    margin-right: 10px;
}

#header{
    background-color: rgb(84, 145, 164);
    background-image: url('https://images.nintendolife.com/3888206a88661/miyamoto.original.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 90%;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 0;
}

#img-div{
    background-color: blue;
    height: 10%;
    position: relative;
    left: 70%;
    text-align: center;
    top: 430px;
    width: 30%;
    z-index: 3;
}


#title{
    color: #8a6500;
    margin: 0px;
    padding: 0px;
    position: relative;
    text-align: center;
    top: 230px;
    width: 100%;
    z-index: 2;
}

#tribute-info{
    background-color: #FFFFFF;
    position: absolute;
    top: 78%;
    width: 70%;
    z-index: 4;
}